<%- include('partials/header.ejs') %>
    <h2>About this Blog</h2>    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure necessitatibus dolorum culpa eveniet repellendus et cupiditate dolores recusandae. Voluptas, officiis minima! Doloremque consequatur blanditiis, neque vitae labore suscipit quam assumenda.</p>
<%- include('partials/footer.ejs') %>